<ion-tabs class="tabs-icon-top tab-background-color tabs-calm">
    <ion-tab title="首页" icon icon-on="homeTabs-homepage-highlight" icon-off="homeTabs-homepage-normal"
             ui-sref="home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="商机" icon icon-on="homeTabs-bom-highlight" icon-off="homeTabs-bom-normal"
             ui-sref="tab.business">
        <ion-nav-view name="tab-business"></ion-nav-view>
    </ion-tab>
    <ion-tab title="出差" icon icon-on="homeTabs-trip-highlight" icon-off="homeTabs-trip-normal"
             ui-sref="tab.businessTrip">
        <ion-nav-view name="tab-businessTrip"></ion-nav-view>
    </ion-tab>
    <ion-tab title="日报" icon icon-on="homeTabs-daily-highlight" icon-off="homeTabs-daily-normal"
             ui-sref="tab.daily">
        <ion-nav-view name="tab-daily"></ion-nav-view>
    </ion-tab>
    <ion-tab title="统计" icon icon-on="homeTabs-check-highlight" icon-off="homeTabs-check-normal"
             ui-sref="tab.statistical">
        <ion-nav-view name="tab-statistical"></ion-nav-view>
    </ion-tab>
</ion-tabs>