<ion-view hide-nav-bar="true">
    <!-- ADD START BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 -------------------------------->
    <ion-header-bar  class="cdfg-common-title"  align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">公司简介</span>
    </ion-header-bar>
    <!-- ADD END   BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 ---------------------------------->
    <ion-content class="cdfg-background">
        <div class="company cdfg-divder-big cdfg-background-white">
            <p class="title">中免商城简介</p>

            <div class="divder">
                <div class="divder1 fr"></div>
                <div class="divder2 fr"></div>
            </div>
            <p class="detail">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中免商城是中国免税品集团（简称中免集团）唯一官方网上商城。
                是继全球最大的单体免税店三亚海棠湾国际购物中心开业后又一重点规划项目。
                中免集团于1984年正式成立，是唯一经国务院授权，在全国范围内开展免税业务的国有专营企业。
                经过30年快速发展已成为世界上免税店类型最全、单一国家零售网点最多的免税运营商。

            </p>

            <p class="detail">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中免商城的创建旨在为消费者提供安全放心的网上购物环境，
                预打造成一个100%品牌授权、足不出户尽享免税价格的线上综合商城，使更多消费者享受到最完善的线上购物体验。
                针对企/事业单位、社会团体及其他单位客户的批量采购，中免商城大客户部为采购方提供专业服务，
                以满足大宗客户对数量、价格、时间等方面的个性化需求。

            </p>

            <p class="detail">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中免商城已与众多国际品牌携手合作，陆续推出服装鞋靴、精品箱包、眼镜配饰、化妆品、香水香氛、母婴保健等10余种品类，
                相信凭借中免集团丰富的线上线下资源，势必造成新的网购热潮。

            </p>
        </div>
    </ion-content>
</ion-view>
