<ion-view hide-nav-bar="true">
    <!-- ADD START BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 -------------------------------->
    <ion-header-bar  class="cdfg-common-title"  align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">联系我们</span>
    </ion-header-bar>
    <!-- ADD END   BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 ---------------------------------->
    <ion-content class="cdfg-background">
        <div class="cdfg-divder-big cdfg-background-white cdfg-connect-us">
            <p class="title"><b>中免商城</b></p>

            <div class="divder">
                <div class="divder1 fr"></div>
                <div class="divder2 fr"></div>
            </div>
            <table>
                <tr>
                    <td class="title"><b>客服热线：</b></td>
                    <td>
                        <b>4008599599</b>
                    </td>

                </tr>
                <tr>
                    <td class="title"><b>客服邮箱：</b></td>
                    <td>
                        zmservice@cdfg.com.cn
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>市场合作：</b></td>
                    <td>
                        zmmkt@cdfg.com.cn
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>战略合作：</b></td>
                    <td>
                        zms@cdfg.com.cn
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>大客户部：</b></td>
                    <td>
                        keyaccount@cdfg.com.cn
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>公司名称：</b></td>
                    <td>
                        中免（深圳）商务科技有限公司
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>注册地址：</b></td>
                    <td>
                        深圳市前海深港合作区前湾一路1号A栋201室
                    </td>
                </tr>
                <tr>
                    <td class="title"><b>办公地址：</b></td>
                    <td>
                        北京市东城区东直门外小街甲2号-1正东国际大厦A座6楼
                    </td>
            </table>
        </div>
    </ion-content>
</ion-view>