<!--底部导航-->
<div class="cyx-tabs">
  <div class="menu-item" ng-click="toHealth()" nav-transition="none">
    <div >
      <img src="./img/menu-health.png" style="" class="cyx-tab-icon-div">
      <div class="cyx-tab-icon-div-title"> 健康</div>
    </div>
  </div>
  <div class="menu-item "  ng-click="toLife()" nav-transition="none">
    <img src="./img/menu-life.png" style="" class="cyx-tab-icon-div">
    <div class="cyx-tab-icon-div-title"> 生活</div>
  </div>
  <div class="menu-item "  ng-click="toVIP()" nav-transition="none">
    <img src="./img/menu-vip.png" style="" class="cyx-tab-icon-div">
    <div class="cyx-tab-icon-div-title"> VIP</div>
  </div>
  <div class="menu-item" ui-sref="personalCenter" nav-transition="none">
    <img src="./img/menu-mine.png" style="" class="cyx-tab-icon-div">
    <div class="cyx-tab-icon-div-title"> 我的</div>
  </div>
</div>
