<ion-view view-title="修改密码" hide-nav-bar="true">
    <ion-header-bar class="cyx-common-title" align-title="center">
        <button ng-click="$ionicGoBack();" class="button button-clear title-back-button"></button>
        <span class="title">修改密码</span>
    </ion-header-bar>
    <ion-content class="bg-background">
        <div class="cyx-password-group">
            <div class="row">
                <span class="col-30">原始密码：</span>
                <input class="col-70" style="padding-top: 2%" type="password" placeholder="请输入原密码"/>
            </div>
            <div class="row">
                <span class="col-30">新&nbsp&nbsp密&nbsp&nbsp码：</span>
                <input class="col-70" style="padding-top: 2%" type="password" placeholder="请输入6-16位新密码"/>
            </div>
            <div class="row">
                <span class="col-30">确认密码：</span>
                <input class="col-70" style="padding-top: 2%" type="password" placeholder="请再次输入密码"/>
            </div>
        </div>
        <button class="cyx-password-button" ng-click="changePassword();"><span style="color:white;">完 成</span></button>
    </ion-content>
</ion-view>
