<!--单个商品统计 王爽-->
<ion-view view-title="单个商品统计" hide-nav-bar="true">
    <ion-header-bar class="cyx-common-title" align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">单个商品统计</span>
    </ion-header-bar>
    <ion-content class="padding cyx-shop-center-content">
        <div class="row width-full cyx-shop-center-single">
            <div><span>“<a ng-bind="goodsName"></a>”的销量记录</span></div>
            <button class="item item-input cyc-date-screen-button" ng-click="openModal();">
                <img class="cyx-icon-left" ng-src="img/screen.png">
                <span class="text-align-c">筛选</span>
                <img class="cyx-icon-right" ng-src="img/arrow-down.png">
            </button>
        </div>
        <hr class="cyx-shop-center-hr width-full"/>
        <div id="singleGoodsBroken" class="cyx-shop-center-broken"></div>
        <hr class="width-full cyx-shop-center-hr "/>
        <table class="width-full cyx-single-goods-table">
            <tr>
                <th>日期</th>
                <th>销量</th>
            </tr>
            <tr ng-repeat="item in singleGoodsList">
                <td ng-bind="item.date"></td>
                <td ng-bind="item.salesCount"></td>
            </tr>
        </table>
        <ion-infinite-scroll distance="2%" ng-if="false" icon="icon-svg-loading" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
    <div ng-show="isShowDate">
        <div>
            <ion-header-bar class="cyx-common-title" align-title="center">
                <button ng-click="closeModal();" class="button button-clear title-back-button"></button>
                <span class="title">时间筛选</span>
            </ion-header-bar>
            <ion-content class="cyx-shop-center-content">
                <div class="list cyx-shop-center-date">
                    <label class="item item-input">
                        <span>开始时间</span>
                        <input type="text" id="sgStartDate" name="startDate"
                               onclick="showDate('sgStartDate');" ng-model="search.screenStart">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input">
                        <span>结束时间</span>
                        <input type="text" id="sgEndDate" name="endDate"
                               onclick="showDate('sgEndDate');" ng-model="search.screenEnd">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                </div>
                <div class="cyx-shop-date-button">
                    <button ng-click="dateScreen();" class="button">筛选</button>
                </div>
            </ion-content>
        </div>
    </div>
</ion-view>
