<ion-view hide-nav-bar="true">
    <ion-header-bar class="cdfg-common-title" align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">找回密码</span>
    </ion-header-bar>
    <ion-content>
        <form name="resetForm" ng-controller="ResetFormController">
            <div class="row cdfg-security-sign">
                <div class="cdfg-security-col"
                     ng-class="{'check': 'cdfg-password-active'}[mode.step]">1
                    <div class="text">验证身份</div>
                </div>
                <div class="col cdfg-padding cdfg-security-arrow">
                    <img ng-src="img/icon-right.png">
                </div>
                <div class="cdfg-security-col"
                     ng-class="{'password': 'cdfg-password-active'}[mode.step]">2
                    <div class="text">重置密码</div>
                </div>
                <div class="col cdfg-padding cdfg-security-arrow">
                    <img ng-src="img/icon-right.png">
                </div>
                <div class="cdfg-security-col"
                     ng-class="{'done': 'cdfg-password-active'}[mode.step]">3
                    <div class="text">完成</div>
                </div>
            </div>
            <!--边框-->
            <div class="cdfg-password-panel padding">

                <!--验证部分-->
                <div ng-if="mode.step=='check'">
                    <label for="selectMethod"> 请选择验证身份方式 </label><br>
                    <select id="selectMethod" ng-model="mode.phoneOrEmail">
                        <option value="phone">通过已验证手机找回</option>
                        <option value=email>通过已验证邮箱找回</option>
                    </select>
                    <!--手机验证-->

                    <div ng-if="mode.phoneOrEmail=='phone'">
                        <p class="cdfg-relative" reg-is-empty>
                            <input name="mobile" pattern="^1\d{10}$" required type="text" maxlength="11"
                                   ng-class="{'true':'cdfg-input-error'}[!resetForm.mobile.$valid && validate]"
                                   class="valudateCode" ng-model="phone.text"
                                   placeholder="{{validate?'请输入正确的手机号码':'手机号码'}}"/>
                        </p>
                        <button ng-disabled="!resetForm.mobile.$valid ||  phone.locker" ng-click="getPassCode()">
                            {{phone.buttonText}} <span ng-if="phone.timer!=0">({{phone.timer}})</span>
                        </button>
                        <div class="cdfg-relative" reg-is-empty>

                            <input name="validateCode" pattern="^\d{6}$" required type="text" max="999999" maxlength="6"
                                   ng-class="{'true':'cdfg-input-error'}[!resetForm.validateCode.$valid && validate]"
                                   class="valudateCode" ng-model="phone.inputCode"
                                   placeholder="{{validate?'请输入正确的手机验证码':'手机验证码'}}"/>
                        </div>
                    </div>
                    <!--邮箱验证-->
                    <div ng-if="mode.phoneOrEmail=='email'">
                        <p class="cdfg-relative" reg-is-empty>
                            <input name="email" pattern="^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$" required type="text"
                                   maxlength="50"
                                   ng-class="{'true':'cdfg-input-error'}[!resetForm.email.$valid && validate]"
                                   class="valudateCode" ng-model="email.text"
                                   placeholder="{{validate?'请输入正确的电子邮箱':'电子邮箱'}}"/>
                        </p>
                        <button ng-disabled="!resetForm.email.$valid" ng-click="getPassEmail()">
                            {{email.buttonText}} <span ng-if="email.timer!=0">({{email.timer}})</span>
                        </button>
                    </div>

                    <button ng-disabled="(!resetForm.validateCode.$valid && mode.phoneOrEmail == 'phone')||
                    (email.text == '无'&& mode.phoneOrEmail == 'email')"
                            ng-click="goNextStep()" class="button button-block button-assertive">下一步
                    </button>
                </div>
                <div ng-if="mode.step=='password'">

                    <!--手机修改-->
                    <div ng-if="mode.phoneOrEmail=='phone'">
                        <div class="cdfg-relative" reg-is-empty>

                            <input name="password" type="password" ng-model="phone.password" required
                                   class="valudateCode"
                                   pattern="^(?!\D+$)(?![^a-z]+$)[a-zA-Z\d]{6,}$"
                                   ng-class="{'true':'cdfg-input-error'}[!resetForm.password.$valid && validate]"
                                   placeholder="请输入登录密码"/>
                        </div>
                        <div class="cdfg-relative" reg-is-empty>

                            <input name="repassword" type="password" ng-model="phone.repassword" required
                                   class="valudateCode"
                                   ng-pattern="phone.password"
                                   ng-class="{'true':'cdfg-input-error'}[!resetForm.repassword.$valid && validate]"
                                   placeholder="{{validate?'两次输入密码不一致':'请输入确认密码'}}"/>
                        </div>
                    </div>
                    <!--邮箱修改-->
                    <div ng-if="mode.phoneOrEmail=='email'">
                        <p>
                            {{email.text}}
                        </p>

                        <p>
                            验证信息已发到您的邮箱中，请查看邮箱信息修改密码。
                        </p>
                    </div>

                    <button ng-disabled="!resetForm.repassword.$valid && mode.phoneOrEmail=='phone'"
                            class="button button-block button-assertive" ng-click="submitPassword()">确定
                    </button>
                </div>

            </div>
        </form>

    </ion-content>
</ion-view>