<form>
  <input type="tel" ng-model="data.item" style="border: 1px solid #efefef;" placeholder="请输入手机号" ng-if="data.index ==0"/>
  <input type="text" ng-model="data.item" style="border: 1px solid #efefef;" placeholder="请输入名字" ng-if="data.index ==1"/>
  <input type="tel" ng-model="data.item" style="border: 1px solid #efefef;" placeholder="请输入详细地址" ng-if="data.index ==2"/>
  <input type="tel" ng-model="data.item" style="border: 1px solid #efefef;" placeholder="请输入电子邮箱" ng-if="data.index ==3"/>

</form>
