<div ng-click="onClosePopClick()">
  <div class="padding-20 position-r">
  <span class="height-50  text-align-l color-text-white font-size-24 font-bold ">畅优享</span>
  <span class="height-50  color-text-white font-size-12 ">XYOUXIANG.COM</span>
  <span class="height-50  position-a color-text-s font-size-24  right-20" >VIP</span>
  </div>
  <div class="bg-white " style="height: 5px"></div>
  <div class="padding-20 position-r margin-bottom-25">
<span class="text-align-l color-text-white font-size-24 font-bold">NO.</span>
  <span class="text-align-l color-text-white font-size-24 font-bold" ng-bind="vipNo"></span>
    </div>
</div>


