<ion-view hide-nav-bar="true" >
    <!-- ADD START BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 -------------------------------->
    <ion-header-bar class="cdfg-common-title" align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">支付密码</span>
    </ion-header-bar>
    <!-- ADD END   BY 葛硕20150808：[APP-95] bug:部分标题会显示样式错乱 ---------------------------------->
    <ion-content class="cdfg-background-white">
        <!--白色底-->

        <form name="payForm" ng-controller="PayPasswordFormController">
            <div ng-if="!phone.hasBindPhone">

                <div class="row cdfg-security-sign">
                    <div class="cdfg-security-col" ng-class="{'password': 'cdfg-password-active'}[step]">1
                        <div class="text">设置密码</div>
                    </div>
                    <div class="col cdfg-padding cdfg-security-arrow">
                        <img ng-src="img/icon-right.png">
                    </div>
                    <div class="cdfg-security-col" ng-class="{'done': 'cdfg-password-active'}[step]">2
                        <div class="text">完成</div>
                    </div>
                </div>
            </div>

             <div ng-if="phone.hasBindPhone">
                <div class="row cdfg-security-sign">
                    <div class="cdfg-security-col" ng-class="{'check': 'cdfg-password-active'}[step]">1
                        <div class="text">验证身份</div>
                    </div>
                    <div class="col cdfg-padding cdfg-security-arrow">
                        <img ng-src="img/icon-right.png">
                    </div>
                    <div class="cdfg-security-col" ng-class="{'password': 'cdfg-password-active'}[step]">2
                        <div class="text">设置密码</div>
                    </div>
                    <div class="col cdfg-padding cdfg-security-arrow">
                        <img ng-src="img/icon-right.png">
                    </div>
                    <div class="cdfg-security-col" ng-class="{'done': 'cdfg-password-active'}[step]">3
                        <div class="text">完成</div>
                    </div>
                </div>
            </div>
            <!--input shows here-->
            <div ng-if="step=='check'" class="cdfg-password-panel padding">
                <p>已验证手机:{{phone.text}} </p>
                <button ng-disabled="phone.locker" ng-click="getPayPassCode()">
                    {{phone.buttonText}} <span ng-if="phone.timer!=0">({{phone.timer}})</span>
                </button>
                <input class="valudateCode" ng-model="phone.inputCode" type="tel"
                       name="validateCode"
                       pattern="^\d{6}$" required max="999999" maxlength="6"
                       ng-class="{'true':'cdfg-input-error'}[!payForm.validateCode.$valid && validate]"
                       placeholder="{{validate?'请输入正确的手机验证码':'手机验证码'}}"/>
                <button ng-disabled="!payForm.validateCode.$valid" class="button button-block button-assertive"
                        ng-click="checkPayCode()">下一步
                </button>
            </div>
            <!--手机修改-->
            <div ng-if="step=='password'" class="cdfg-password-panel padding">
                <input name="password" type="password" ng-model="phone.password" required class="valudateCode"
                       pattern="^(?!\D+$)(?![^a-z]+$)[a-zA-Z\d]{6,}$"
                       ng-class="{'true':'cdfg-input-error'}[!payForm.password.$valid && validate]"
                       placeholder="密码为6位以上的字母和数字组成"/>
                <input name="repassword" type="password" ng-model="phone.repassword" required
                       class="valudateCode"
                       ng-pattern="{{phone.password}}"
                       ng-class="{'true':'cdfg-input-error'}[!payForm.repassword.$valid && validate]"
                       placeholder="{{validate?'两次输入密码不一致':'请再次输入'}}"/>
                <button ng-disabled="payForm.repassword.$error.required || payForm.password.$error.required"
                        class="button button-block button-assertive" ng-click="submitPassword()">确定
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>