<ion-view view-title="查看地图" hide-nav-bar="true" cache-view="false">
    <ion-header-bar class="cyx-common-title"  align-title="center">
        <button ng-click="goBack();" class="button button-clear title-back-button"></button>
        <span class="title">查看地图</span>
    </ion-header-bar>
    <ion-content scroll="false">

        <!--<ion-scroll direction="x">-->
        <div class="AMapArea" id="amap-goods"></div>
        <div id="map-container-goods"></div>
        <div id="map-panel-goods"></div>

        <!--</ion-scroll>-->
    </ion-content>
</ion-view>