<ion-view>
    <ion-nav-view name="productFilter.tab"></ion-nav-view>
</ion-view>

<script id="templates/product/product-list-filter2.html" type="text/ng-template">
    <ion-view title="筛选"  hide-nav-bar="true">
        <ion-header-bar>
            <button ng-click="$ionicGoBack();" class=" button-clear icon-right ion-ios-arrow-left cdfg-header-left-arrow cdfg-header-back-button-font"></button>
            <h1 class="title">筛选</h1>
        </ion-header-bar>
        <ion-content class="cdfg-has-footer" style="border-left: 30px solid #222;">

            <div class="list cdfg-filter-list">

                <div class="item" ng-show="dataSc">
                    <div class="cdfg-filter-close-wrapper" ng-if="dataSc.selection"><a class="icon" id="cdfg-type-checked-tag">{{dataSc.selection.name}}</a><a class="icon ion-ios-close-outline" ng-class="" id="cdfg-type-checked-close" ng-click="checkedClose()"></a></div>
                    <div class="col-title">类别</div>
                </div>
                <div class="item cdfg-brand-filtrate-catebutton" >
                    <label ng-repeat="value in dataSc"
                           ng-class="{button: true, 'button-small': true, active: value.id == dataSc.selection.id}">
                        <input type="radio" name="myTestRadio" ng-model="dataSc.selection" ng-value="value" ng-checked="value.selection.id == value"
                               ng-click="getAttrsFn(value.id)"/>{{value.name}}
                    </label>
                </div>
                <div class="item">
                    <div class="col-title cdfg-fl">价格</div>
                    <input class="input-text-row" type="number" ng-model="param.lowPrice" value="{{param.lowPrice}}" onkeyup="this.value=this.value.replace(/\D/g,'')" />
                    <span class="icon ion-ios-minus-empty"></span>
                    <input class="input-text-row" type="number" ng-model="param.heightPrice" value="{{param.heightPrice}}" onkeyup="this.value=this.value.replace(/\D/g,'')" />
                </div>

            </div>

            <!--  ---------   属性  ----------  -->
            <!--品牌-->
            <div class="item item-icon-right cdfg-filter-attr-item" ng-repeat="filter in dataBrand" ng-click="initFilterSelections(filter,'brand')" ng-model="filter" ng-if="dataBrand.length>0">
                <div class="row cdfg-padding-top-bottom">
                    <span class="col col-33">{{filter.cateName}}</span>
                    <span class="col text-center">{{selectAttrVal.brand[filter.cateName].name || '不限'}}</span>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <!--SpuSpec-->
            <div class="item item-icon-right cdfg-filter-attr-item" ng-repeat="filter in dataSpuSpec" ng-click="initFilterSelections(filter,'spuSpec')" ng-model="filter" ng-if="dataSpuSpec.length>0">
                <div class="row cdfg-padding-top-bottom">
                    <span class="col col-33">{{filter.cateName}}</span>
                    <span class="col text-center">{{selectAttrVal.spuSpec[filter.cateName].name || '不限'}}</span>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <!--SkuSpec-->
            <div class="item item-icon-right cdfg-filter-attr-item" ng-repeat="filter in dataSkuSpec" ng-click="initFilterSelections(filter,'skuSpec')" ng-model="filter" ng-if="dataSkuSpec.length>0">
                <div class="row cdfg-padding-top-bottom">
                    <span class="col col-33">{{filter.cateName}}</span>
                    <span class="col text-center">{{selectAttrVal.skuSpec[filter.cateName].name || '不限'}}</span>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <!--SpuAttr-->
            <div class="item item-icon-right cdfg-filter-attr-item" ng-repeat="filter in dataSpuAttr" ng-click="initFilterSelections(filter,'spuAttr')" ng-model="filter" ng-if="dataSpuAttr.length>0">
                <div class="row cdfg-padding-top-bottom">
                    <span class="col col-33">{{filter.cateName}}</span>
                    <span class="col text-center">{{selectAttrVal.spuAttr[filter.cateName].name || '不限'}}</span>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <!--  ---------   属性  ----------  -->

        </ion-content>
        <div class="bar bar-footer cdfg-filter-footer-button">
            <div class="title">
                <button class="button" ng-click="cancelFilter()">清除选项</button>
                <button class="button button-assertive" ng-click="applyFilter()">完 成</button>
            </div>
        </div>
    </ion-view>

</script>

<script id="templates/product/product-list-select2.html" type="text/ng-template">
    <ion-view title="筛选">
        <ion-content class="cdfg-has-footer">

            <div class="list cdfg-filter-select-list">

                <div class="item item-icon-right" ng-repeat="item in selectFilter.list" ng-model="item" ng-click="onSelect(item,type)">
                    <p>{{item.name}}</p>
                    <i ng-if="
                    type=='brand' && selectAttrVal.brand[selectFilter.cateName].name == item.name
                    || type=='spuSpec' && selectAttrVal.spuSpec[selectFilter.cateName].name == item.name
                    || type=='skuSpec' && selectAttrVal.skuSpec[selectFilter.cateName].name == item.name
                    || type=='spuAttr' && selectAttrVal.spuAttr[selectFilter.cateName].name == item.name
                    " class="icon ion-ios-checkmark-empty assertive"></i>
                </div>

            </div>

        </ion-content>
    </ion-view>
</script>