/**
*@author:ZCP
*2015/6/29
*personal center
*/

/* 以下为地址列表 */
//右边的编辑图表和分割线
.cdfg-addr-item-right {
  width: 62px;
  height: 84px;
  -webkit-box-align: center;
  position: absolute;
  right: 0;
  float: right;
  top: 50%;
  margin-top: -42px;
  text-align: center;
  border-left: 1px solid $c-general-thd;
  z-index: 10;
  img {
    top: 50%;
    width: 25px;
    height: 25px;
    margin-top: -10px;
    position: relative;
  }
}

//默认地址标记
.cdfg-addr-default {
  background-color: $c-assertive;
  color: #ffffff;
  padding: 3px 6px 3px 6px;
  margin: 0 10px 0 10px;
  border-radius: 0 0 2px 2px;
  position: absolute;
  z-index: 5;
  font-style: $f-Weak;
}

//当前选中标记
.cdfg-addr-check {
  position: absolute;
  top: 50%;
  height: 20px;
  margin: -15px -10px 0 0;
  z-index: 5;

}

//地址信息详情
.cdfg-addr-content {
  padding-left: 56px;
  display: inline-block;
  width: 100%;
  padding-right: 32px;
  .receiver {
    font-size: $f-dark;
    color: $c-dark;
  }
  .mobile {
    font-size: $f-dark;
    color: $f-Weak;
    margin-left: 20px;
  }
  .number {
    font-size: $f-Weak;
    color: $f-Weak;

  }
  .address {
    font-size: $f-Weak;
    color: $c-general;
    word-wrap: break-word;
    overflow: auto;
    word-break: break-all;
  }
}

/* 以下为地址详情 */

//红色星号
.cdfg-star {
  color: $c-assertive;
  padding-top: 4px;
  padding-right: 2px;
}

.cdfg-addr-list {
  position: relative;

  //输入框左侧提示
  .cdfg-addr-label {
    display: table;
    max-width: 200px;
    padding: 6px 0 6px 0;
    width: 15%;
    margin: 0;

  }
  //选择联系人
  .contact {
    //补充选择联系人上方的线
    border-top: 1px solid $c-general-thd;
    padding-top: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    z-index: 2;
    background-color: #fff;
    //‘选择联系人’
    p {
      width: 100%;
      color: $c-general;
    }
    //联系人图标
    img {
      width: 22px;
      height: 22px;
      position: relative;
    }
  }
}

//下方中免提示标题
.cdfg-addr-note-title {
  padding: 15px 5px 15px 5px;
  margin: 34px 34px 0 34px;
  text-align: center;
  //background: $c-weakest;
  background: #eeeeee;
  color: $c-assertive;
  position: relative;
  img {
    width: 20px;
    height: 20px;
    margin-left: -20px;
    position: absolute;
    float: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
    display: flex;
  }
  span {
    padding-left: 15px;
    font-size: $f-general-sub;
    display: inline-table;
  }
}

//下方中免提示正文
.cdfg-addr-note {
  padding: 18px 18px 18px 18px;
  margin: 0 33px 33px 33px;
  border: $c-weakest;
  background: $c-general-thd;
  p {
    font-size: $f-weakest;
  }
}

/* 以下为出境航班 */
.cdfg-trafffic-label {
  display: table;
  max-width: 200px;
  padding: 6px 0 6px 0;
  width: 15%;
  margin: 0;
}

.cdfg-trafffic-date {
  //font-size: $f-Weak !important;
  color: $c-general-sub;

}

.cdfg-traffic-shop {
  text-align: center;
  width: 100%;
  font-size: $f-Weak;
  color: $c-general;
  padding: 10px;
}

.cdfg-submit {
  position: relative;
  bottom: 0px;
}